VITE_API_BASE_URL=http://localhost:3001
CRM_ENDPOINT=https://example.crm.com/api/offers
CRM_API_KEY=your_api_key_here
VITE_WHATSAPP_NUMBER=your_wp_no_here
VITE_CATALOG_PDF_PATH=/your_pdfName_here.pdf
CRM_ENDPOINT=https://example.com/api/endpoint
VITE_MAKE_WEBHOOK_URL=https://hook.eu1.make.com/your_webhook_url_here